*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/target/
/bin/
banned-ips.json
banned-players.json
config/forge.cfg
config/forgeChunkLoading.cfg
crash-reports/crash-2015-05-07_10.47.23-server.txt
crash-reports/crash-2015-05-07_10.48.22-server.txt
crash-reports/crash-2015-05-07_11.09.14-server.txt
forge-1.8-11.14.1.1334-changelog.txt
logs/2015-05-07-1.log.gz
logs/2015-05-07-2.log.gz
logs/2015-05-07-3.log.gz
logs/2015-05-07-4.log.gz
logs/2015-05-07-5.log.gz
logs/2015-05-07-6.log.gz
logs/2015-05-07-7.log.gz
ops.json
server.properties
usercache.json
usernamecache.json
whitelist.json
world/DIM-1/data/villages_nether.dat
world/DIM-1/forcedchunks.dat
world/DIM1/data/villages_end.dat
world/DIM1/forcedchunks.dat
world/data/Mineshaft.dat
world/data/Monument.dat
world/data/villages.dat
world/forcedchunks.dat
world/level.dat
world/level.dat_old
world/playerdata/61643408-d2f7-4d19-85ef-01405438b5c8.dat
world/region/r.-1.-1.mca
world/region/r.-1.0.mca
world/region/r.0.-1.mca
world/region/r.0.0.mca
world/session.lock
world/stats/61643408-d2f7-4d19-85ef-01405438b5c8.json
